nav{
    z-index: 2;
   justify-content: space-evenly;
   display: flex;
   width: 100%;
   background-color: rgb(9, 9, 47);
   top: 0;
   height: 7vh;
   color:aliceblue;
   align-items: center;
   cursor: pointer;
   position: fixed;
   overflow: hidden;

}
ul{
    margin-left: 20vh;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 3vh;
    font-size: 3vh;
}
button{
    padding:0.5vh 1vh;
    background:transparent;
    color:aliceblue;
    border: 1vh solid aliceblue;
    border-radius: 2vh; 
    font-size: 3vh;
    cursor: pointer;
}