#bodyDM{
    position: relative;
    background: linear-gradient(90deg, rgb(6, 6, 91), rgb(74, 13, 115));
    background-attachment: fixed;
    height: 100vh;
    color: white;
    padding : 0%;
    margin : 0%;
}

.allDivs {
    display: grid;
    place-items: center;
}

#bodyDM input, #bodyDM textarea{
    font-size: 3vh;
    border-radius: 2vh;
    padding: 1vh;
    transition-duration: 0.5s;
    background-color: snow;
    border-width: 0vh;
    font-family: 'Times New Roman', Times, serif;
}

#contactTitle{
    font-size: 10vh;
    font-family: CrimsonTextBold;
}

#titleDiv{
    width: 100%;
    text-align: center;
    height : 15vh;
}

#comment{
    height : 30vh;
    width : 150vh;
    resize :none;
}

#submit{
    font-weight:bolder;
}

#submit:hover{
    cursor: pointer;
}

#nameDiv{
    padding-bottom: 1vh;
    font-size: 5vh;
}

#emailDiv{
    padding-bottom: 1vh;
    font-size: 5vh;
}

#commentDiv{
    padding-bottom: 1vh;
    font-size: 5vh;
}

#submitDiv{
    text-align: center;
    padding-bottom: 5vh;
}

@font-face {
    font-family: CrimsonTextBold;
    src: url(Crimson_Text/CrimsonText-Bold.ttf);
}


#bodyDM input:hover, #bodyDM textarea:hover{
    background-color: #b064d3;
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(9, 9, 47);
    height : 27vh;
    width : 100%;
    padding : 0%;
    margin : 0%;
}

.FooterDiv{
    margin-left: 2vh;
    padding : 2vh;
    font-size: 1.78vh;
}

#address-contact{
    position : absolute;
    right: 15vh;
    height: 20vh;
    width: 20vh;
    padding : 2vh;
    text-align: left;
    font-size: 2.25vh;
}

.SocialMedia{
    height: 5vh;
    padding-left: 2vh;
}

#SMDiv{
    position: absolute;
    width : 50vh;
    bottom: 10vh;
    padding-bottom: 3vh;
    left: 75vh;
    text-align: center;
}

#Links{
    position: absolute;
    width: 40vh;
    margin-left: 15vh;
}

#Links a{
    color : lightgray;
    text-decoration: none;
    transition-duration: 0.5s;
}

#Links a:hover{
    color : violet;
}