*{ 
    padding: 0;
    margin:0;
}
body{
    background: linear-gradient(90deg, rgb(6, 6, 91), rgb(74, 13, 115));
    height: 600vh;
}
.intro{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-left: 10vh;
    font-size: 3vh;
}



