body{
    background: linear-gradient(90deg, rgb(6, 6, 91), rgb(74, 13, 115));
    background-attachment: fixed;
    height: 100vh;
    color: white;
    font-family: CrimsonTextBold;
}

#WhyCBSCoin{
    text-align: center;
    font-size: 7vh;
}

div{
    background-color: white;
    position: absolute;
    margin-bottom: 1vh;
}

.images{
    height : 15vh;
    width: 15vh;
    border-radius: 50%;
}

img{
    height : 15vh;
    width: 15vh;
    border-radius: 50%;
}

#QREImage{
    top: 17vh;
    position: absolute;
    left: 15vh;
}

#EFMImage{
    top: 17vh;
    position: absolute;
    left: 110vh;
}

#DCIVImage{
    top: 42vh;
    position: absolute;
    left: 15vh;
}

#SCTImage{
    top: 42vh;
    position: absolute;
    left: 110vh;
}

#DGMImage{
    top: 67vh;
    position: absolute;
    left: 15vh;
}

#CCCImage{
    top: 67vh;
    position: absolute;
    left: 110vh;
}

.desc{
    color : black;
    position: absolute;
    backdrop-filter: blur(8px);
    height : 15vh;
    width : 60vh;
    border-radius: 2vh;
    top : 0vh;
    padding : 1.5vh;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(160deg, rgb(131, 228, 255), rgb(255, 255, 255));
}

#QREDesc{
    top : 17vh;
    left: 33vh;
    font-size : 2.7vh;
}

#EFMDesc{
    top : 17vh;
    left: 128vh;
    font-size : 2.7vh;
}

#DCIVDesc{
    top : 42vh;
    left: 33vh;
    font-size : 2.7vh;
}

#SCTDesc{
    top : 42vh;
    left: 128vh;
    font-size : 2.7vh;
}

#DGMDesc{
    top : 67vh;
    left: 33vh;
    font-size : 2.4vh;
}

#CCCDesc{
    top : 67vh;
    left: 128vh;
    font-size : 2.3vh;
}