.navbar{
    z-index: 2;
   justify-content: space-evenly;
   display: flex;
   width: 100%;
   background-color: rgb(9, 9, 47);
   top: 0;
   height: 8vh;
   color:aliceblue;
   align-items: center;
   cursor: pointer;
   position: fixed;
   overflow: hidden;

}
.nav{
    margin-left: 30vh;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2vh;
    font-size: 3vh;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    transition-duration: 0.5s;
}
.navbar a:hover{
    color: violet;
    border-bottom: 0.5vh solid violet;
}
.navbar button{
    padding:0.5vh 1vh;
    background:transparent;
    color:aliceblue;
    border: 0.25vh solid aliceblue;
    border-radius: 2vh; 
    font-size: 2.75vh;
    cursor: pointer;
    transition-duration: 0.5s;
}
.navbar button:hover{
    border: 0.25vh solid violet;
    color: violet;
}